<div class="sidenav-menu">
        <md-nav-list>
            <h3 md-subheader>Data</h3>
            <md-list-item (click)="goToSensors()">
                <md-icon md-list-icon>wifi_tendering</md-icon>
                <span>Sensors</span>
            </md-list-item>
            <md-list-item (click)="goToImages()">
                <md-icon md-list-icon>camera_alt</md-icon>
                <span>Drone images</span>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Liquid Galaxy</h3>
            <md-list-item (click)="goToKmlGenerator()">
                <md-icon md-list-icon>layers</md-icon>
                <span>KML Generator</span>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>More</h3>
            <md-list-item (click)="goToAbout()">
                <md-icon md-list-icon>info</md-icon>
                <span>About</span>
            </md-list-item>
            <md-divider></md-divider>
        </md-nav-list>
</div>