<div class="sidenav-menu">
        <md-nav-list>
            <div class="image-container">
                <img src="/assets/SAVT-icon.png">
            </div>
            <md-divider></md-divider>
            <h3 md-subheader>Data</h3>
            <md-list-item (click)="goToSensors()">
                <md-icon md-list-icon>wifi_tendering</md-icon>
                <span>Sensors</span>
            </md-list-item>
            <md-list-item (click)="goToImages()">
                <md-icon md-list-icon>camera_alt</md-icon>
                <span>Drone images</span>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Liquid Galaxy</h3>
            <md-list-item (click)="goToKmlGenerator()">
                <md-icon md-list-icon>layers</md-icon>
                <span>KML Generator</span>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>More</h3>
            <md-list-item (click)="goToAbout()">
                <md-icon md-list-icon>info</md-icon>
                <span>About</span>
            </md-list-item>
            <md-list-item (click)="goToDemos()">
                <md-icon md-list-icon>movie_filter</md-icon>
                <span>Demos</span>
            </md-list-item>
            <md-divider></md-divider>
            <span class="space-span"></span>
            <div class="sidenav-bot-container">
                <h3 md-subheader>Contact</h3>
                <span>Javier Calvo García</span>
                <a href="https://github.com/calv00/SAVT-Dashboard">
                    <img src="/assets/github-10-48.png">
                </a>
            </div>
        </md-nav-list>
</div>