.sidenav-menu {
    height: 100%;
    width: auto;
    overflow: hidden;
    background: #009688;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.12);
}

.sidenav-menu md-nav-list {
    padding-top: 0;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

.image-container {
    height: 64px;
    width: auto;
    text-align: center;
}

.image-container img {
    height: 100%;
    width: auto;
}

md-list-item span{
    color: white;
}

.space-span {
    flex: 1;
}

.sidenav-bot-container {
    color: white;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75em;
}

.sidenav-bot-container span, .sidenav-bot-container a {
    text-align: center;
}