<div>
    <md-accordion [displayMode]="default" [multi]="true">
        <md-expansion-panel #panel1 [hideToggle]="false">
            <md-expansion-panel-header>Section 1</md-expansion-panel-header>
            <p>Expansion panel content</p>
        </md-expansion-panel>
        <md-expansion-panel #panel2 [hideToggle]="false">
            <md-expansion-panel-header>Section 2</md-expansion-panel-header>
            <p>Expansion panel content</p>
        </md-expansion-panel>
    </md-accordion>
</div>