<md-toolbar color="primary">
    <div class="generate-button">
        <button md-raised-button (click)="generateKml()" color="warn">
            <b>Generate KML</b>
        </button>
    </div>
</md-toolbar>
<div class="page-container">
    <div class="map-container">
      <div [ngBusy]="busy"></div>
      <google-map #googleMap (onClean)="onClean($event)"></google-map>          
    </div>
    <div class="data-container">
        <div class="sensors-container">
            <ul class="fields">
                <div *ngFor="let field of fields" class="field-item" (click)="selectField(field)">
                    <p>{{field.name}}</p>
                </div>
            </ul>
        </div>
        <div class="images-container">
            <image-importer #imageImporter></image-importer>
        </div>
    </div>
</div>
