.generate-button {
    flex: auto; text-align: right;
}

.sensors-first-row-container {
    display: flex;
    padding-bottom: 1em;
}

.sensors-col {
    height: auto;
    flex-grow: 1;
    overflow-y:auto;
}

.map-col {
    flex: auto;
    flex-grow: 3
}

.sensors-list {
    display: flex;
    padding-right: 1em;
}

.sensor-checkbox {
    flex: auto;
    align-self: center;
    padding-right: 0.5em;
}

.sensor-item {
    flex: auto;
    text-align: right;
}

.sensors-second-row-container {
    padding-bottom: 1em;
    padding-left: 1em;
    width: auto;
    height: auto;
    display: block;
}

.secon-row-col {
    width: auto;
}

.ng-hide {
    display: none;
}