.generate-button {
    flex: auto; text-align: right;
}

.page-container {
    display: flex;
    flex-direction: row;
}

.map-container {
    flex: 3;
}

.data-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sensors-container {
    flex: 1;
    overflow-y: auto;
}

.sensors-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 1em;
}

.sensor-checkbox {
    align-self: center;
    padding-right: 0.5em;
}

.sensor-item {
    text-align: right;
}

.images-container {
    flex: 1;
    overflow-y: auto;
}
