:host {
    flex: 1;
    padding-top: 56px;
}

@media(min-width: 400px) {
    padding-top: 64px;
}

.generate-button {
    flex: auto; text-align: center;
}

.back-button-container {
    text-align: center;
}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.map-container {
    flex: 3;
}

.data-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sensors-container {
    flex: 1;
    width: auto;
    height: 100%;
}

div.items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div.item-card {
    height: 100%;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    cursor: pointer;
    margin: 0.5em;
}

div.item-card:hover {
    background-color: #009688;
    color: white;
}

div.item-card .item-title {
    padding: 15px;
    font-family: 'Roboto', serif;
    font-size: 1.5em;
}

div.item-card .item-caption {
    font-family: 'Roboto', serif;
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 15px;
}

.images-container {
    flex: 1;
    overflow-y: auto;
}
