<md-toolbar color="accent">KML Generation Page
    <div class="generate-button">
        <button md-raised-button (click)="generateKml()" color="primary">
            <b>Generate KML</b>
        </button>
    </div>
</md-toolbar>
<div class="page-container">
    <div class="map-container">
      <div [ngBusy]="busy"></div>
      <google-map #googleMap (onClean)="onClean($event)"></google-map>          
    </div>
    <div class="data-container">
        <div class="sensors-container">
            <ul class="sensors">
                <md-nav-list *ngFor="let sensor of sensors" class="sensors-list">
                <md-checkbox class="sensor-checkbox" (change)="checkboxChange($event, sensor);"></md-checkbox>
                        <md-list-item class="sensor-item" (click)="goToDetail(sensor)">
                            <b>{{sensor.name}}</b>
                        </md-list-item>
                </md-nav-list>
            </ul>
        </div>
        <div class="images-container">
            <image-importer #imageImporter></image-importer>
        </div>
    </div>
</div>
