<md-toolbar color="primary" class="map-toolbar">
    {{ title }}
    <div class="map-toolbar-right">
        <button md-mini-fab (click)="cleanMarkers()" color="warn">
            <md-icon>clear</md-icon>
        </button>
    </div>
</md-toolbar>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map 
    [latitude]="latitude" 
    [longitude]="longitude"
    [zoom]="zoom"
    [mapTypeId]="mapTypeId"
    (mapReady)="mapReady($event)"
    (mapClick)="mapClicked($event)">
    <agm-marker
        *ngFor= "let marker of markers"
        (markerClick)="markerClick(marker, $event)" 
        [latitude]="marker.latitude" 
        [longitude]="marker.longitude"
        [label]="marker.label"
        [markerDraggable]="marker.draggable"
        (dragEnd)="dragEnd(marker, $event)">
    </agm-marker>
</agm-map>