.google-map-container {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
}

agm-map {
  flex: 1;
  height: 100%;
}

.map-toolbar {
  display: flex;
}

.map-toolbar-right {
  flex: auto; 
  text-align: center;
}