<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true">
        <sidenav></sidenav>
    </md-sidenav>
    <div class="content-container">
        <div class="toolbar-container">
            <toolbar></toolbar>
        </div>
        <div class="router-outlet-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</md-sidenav-container>
    <!-- <my-footer></my-footer> -->
<!--
<md-sidenav-container class="router-outlet-container">
    <md-sidenav #sidenav mode="side" opened="true" class="example-sidenav" style="overflow-y:hidden; border-top: 1px solid green; border-bottom: 1px solid green;">
    <sidenav></sidenav>
    </md-sidenav>
    <div style="display: flex; flex-direction: column; height: 100%; padding-top: 64px;">
        <router-outlet></router-outlet>
        <my-footer style="display: block"></my-footer>
    </div>
</md-sidenav-container>
-->