.app-component-container {
    height: 100%;
    width: auto;
}

md-sidenav-container {
    height: 100%;
    width: auto;
}

.content-container {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

.sidenav-menu {
    padding: 0;
}

.router-outlet-container {
    flex: 1;
}