<md-toolbar color="accent">KML Generation Page</md-toolbar>
    <ul class="sensors">
        <md-nav-list *ngFor="let sensor of sensors"
         [class.selected]="sensor === selectedSensor">
         <md-checkbox (change)="checkboxChange($event, sensor);"></md-checkbox>
                <md-list-item (click)="onSelect(sensor)">
                    <b>{{sensor.name}}</b>
                </md-list-item>
        </md-nav-list>
    </ul>
    <sensor-info [sensor]="selectedSensor"></sensor-info>
    <br>
    <div align="center">
        <button md-raised-button (click)="generateKml()"
    color="primary">
            <b>Generate KML</b>
        </button>
    </div>
    <google-map #googleMap (onClean)="onClean($event)"></google-map>
    <bar-chart></bar-chart>