<md-toolbar color="accent">KML Generation Page
    <div class="generate-button">
        <button md-raised-button (click)="generateKml()" color="primary">
            <b>Generate KML</b>
        </button>
    </div>
</md-toolbar>
    <div class="sensors-first-row">
        <div class="sensors-col">
            <ul class="sensors">
                <md-nav-list *ngFor="let sensor of sensors" class="sensors-list">
                <md-checkbox class="sensor-checkbox" (change)="checkboxChange($event, sensor);"></md-checkbox>
                        <md-list-item class="sensor-item" (click)="goToDetail(sensor)">
                            <b>{{sensor.name}}</b>
                        </md-list-item>
                </md-nav-list>
            </ul>
        </div>
        <div class="map-col">
            <google-map #googleMap (onClean)="onClean($event)"></google-map>
        </div>
    </div>
    <div class="sensors-second-row">
        <div class="menu-col">
                <button md-button [mdMenuTriggerFor]="menu">Choose a type</button>
                <md-menu #menu="mdMenu">
                    <button md-menu-item>Temperature</button>
                    <button md-menu-item>Humidity</button>
                </md-menu>
        </div>
        <div class="chart-col">
                <bar-chart></bar-chart>
        </div>
    </div>
