.demo-page-container {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;;
}

.span-left {
    flex: 1;
}

.buttons-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-container .button-container {
    margin: 2em;
    text-align: center;
    font-family: 'Roboto', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-container button {
    font-family: 'Roboto', serif;
    font-weight: lighter;
    font-size: 1.5em;
    margin-top: 1em;
}

.span-right {
    flex: 1;
}