.ng-hide {
    display: none;
}

.images li {
    display: inline;
    cursor: pointer;
}

.image-toolbar {
    display: flex;
    margin-bottom: 5px;
}

.image-toolbar-right {
    flex: auto;
    text-align: right;
}