.image-importer-container {
    height: 100%;
    width: auto;
}

.ng-hide {
    display: none;
}

.carousel {
    width: auto;
    height: 100%;
}

.images li {
    display: inline;
    cursor: pointer;
}

.image-toolbar {
    display: flex;
    margin-bottom: 5px;
}

.image-toolbar-right {
    flex: auto;
    text-align: center;
}