md-toolbar {
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}
button {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  color: white;
}